@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    font-family: Bangers, sans-serif;
    color: black;
}

/* headings and logo */

h1, h2 {
    font-family: Bangers, sans-serif;
    color: black;
}

/* header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex: 0 1 33%;
    /* background: red; */
}

#header, h1 {
    margin: 0;
}

#header a:hover {
    color: #786C44;
}

#header a h1:hover {
    color: #786C44;
}

.branding a {
    text-decoration: none;    
}


/* navigation items */

#menu {
    font-size: 90%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 33%; 
    /* background: blue; */
    
}

#socials {
    font-size: 130%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 33%
    
}
/* nav {
    background: green;
} */

#menu li {
    margin-right: 10px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#socials a {
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}