@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    font-family: Bangers, sans-serif;
    color: black;
}

/* headings and logo */

h1,
h2 {
    font-family: Bangers, sans-serif;
    color: black;
}

/* header */

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem; 
    flex: 0 1 33%;
}

#header, h1 {
    margin: 0;

}

#header a:hover {
    color: #786C44;
}

#header a h1:hover {
    color: #786C44;
}

.branding a {
    text-decoration: none;
}


/* navigation items */

#menu {
    font-size: 80%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 33%;
    

}

#socials {
    font-size: 130%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 33%
}

/* nav {
    background: green;
} */

#menu li {
    margin-right: 10px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#socials a {
    margin-left: 22px;
    text-decoration: none;
    color: inherit;
}

/* Hero image */

.hero {
    height: 100vh;
    background-image: url(../images/Hero_Image_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    display: none;
}

#toggle {
    display: none;
}

/* Small devices */
@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }

    #menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    #menu a {
        display: block;
        border-bottom: 1px solid black;
    }
    toggle:checked + #menu {
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }
