@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    font-family: Bangers, sans-serif;
    color: black;
}

/* headings and logo */

h1, h2 {
    font-family: Bangers, sans-serif;
    color: black;
}

/* header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex: 0 1 60%;
}

#header, h1 {
    margin: 0;
}

/* navigation items */

#menu {
    font-size: 110%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 40%;
    
}

#menu li {
    margin-right: 10px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}